/* Estilos generales */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(40deg, #ee6fbb, #7badd3);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  display: flex;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 20px;
  max-width: 1200px;
}

/* ################ FORMULARIOS ################ */

/* Contenedor de formularios */
.form-card {
  margin: 10rem auto;
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 380px;
}

/* Título de formularios */
.form-card h2 {
  text-align: center;
  color: #333;
  margin: 0 0 30px 0;
}

/* Responsividad */
@media (max-width: 480px) {
  .form-card {
    padding: 30px 25px;
  }
}
/* Formulario login y contact */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* Inputs, textareas, select, etc. */
input,
input,
textarea {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}
/* Efecto al enfocar */
input:focus,
textarea:focus {
  border-color: #7badd3;
  box-shadow: 0 0 0 3px rgba(123, 173, 211, 0.2);
}

/* Botones */
button,
button {
  padding: 14px;
  background-color: #7badd3;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.2s ease;
  margin-top: 10px;
}

/* Hover del botón */
button:hover {
  background-color: #ee6fbb;
  transform: translateY(-2px);
}

/* Activo del botón */
button:active {
  transform: translateY(0);
}

/* ################## Header ################## */
.navbar {
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar a:hover {
  color: #7badd3;
}
